body{color: black;
    background-color: #f1ecfc ;familia tipográfica: 'Roboto', sans-serif;}
.webb {font-size:90px; center; font-family: 'Henny Penny', cursive; color: rgb(249, 251, 252);margin-top: 0%;margin-bottom:0%;}
    img{width: 50%;border-radius:50px; }
.estudio{text-align:justify;}
    .astro{ width: 25%;margin-right: 40px;}
    .title-astrobiologia{font: size 40px;}
    .origen-uni {font-family: Arial, Helvetica, sans-serif;}
    .misiones {color: rgb(82, 34, 8);}
    .teoria{text-align:justify;}
    .estrella{text-align:justify;} 
    .lactea{text-align: justify;}
    .solar{text-align: justify;}
    .planeta{text-align: justify;}
    .imagen1{width: 30%;margin-right: 40px;margin-left:80px;}
    .uy{text-align: justify;width: 60%;display:inline-block;}
    .vy{text-align: justify;width: 40%;display:inline-block;}
    .mu{text-align: justify;width: 60%;display:inline-block;}
    .betel{text-align: justify;width: 60%;display:inline-block;}
    .antar{text-align: justify;width: 60%;display:inline-block;}
    .pisto{text-align: justify;width: 60%;display:inline-block;}
    .rige{text-align: justify;width: 60%;display:inline-block;}
    .orden{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ0LMvRQ0i5KDrh7irhXJliCRNeG35hw1_GQ&usqp=CAU);background-repeat: no-repeat;background-size:100%;text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align:azure;}
    .alde{text-align: justify;width: 60%;display:inline-block;}
    .artu{text-align: justify;width: 60%;display:inline-block;}
    .polu{text-align: justify;width: 60%;display:inline-block;}
    .imagen2{width:15%;float: left;}
    .imagen3{width:15%;float: left;}
    .imagen4{width:15%;float: left;}
    .imagen5{width:15%;float: left;}
    .imagen6{width:15%;float: left;}
    .imagen7{width:15%;float: left;}
    .imagen8{width:15%;float: left;}
    .imagen9{width:10%;float:left}
    .imagen10{width:15%;float:left;}
    .imagen11{width:15%;float:left;}
    .mercurio{width:50%;}
    .mercuri{margin:3%;color: crimson;}
    .venu{margin:3%;color: crimson;}
    .Venus{width:35%;}
    .tie{margin:3%;color: crimson;}
    .tierra{width:35%;}
    .mar{margin:3%;color: crimson;}
    .marte{width:35%;}
    .jup{margin:3%;color: crimson;}
    .jupiter{width: 35%;}
    .sat{margin:3%;color: crimson;}
    .saturno{width:35%}
    .ura{margin:3%;color: crimson;}
    .urano{width: 30%}
    .nep{margin:3%;color: crimson;}
    .neptuno{width:30%}
    h1 a{; display: inline-block;font-size:14px;letter-spacing:0;}
    #contenedor{display:flex;flex-direction: row;flex-wrap: wrap;}
    #contenedor > div {width: 50%;}
    hr {border: 0; height: 24px; box-shadow: inset 0 22px 12px -12px rgb(0, 55, 128); color: rgb(206, 128, 195); text-align: center;}
hr:after {content:"\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605\2600\2605"; font-size: 14px;color: #eee;}
    /* 
selector{
    propiedad : valor ;
} 
*/